.App {
  margin: 20px;
  padding: 40px;
  background-color: #444444;
  border: 4px solid #666666;
  border-radius: 10px;
  min-height: 500px;
  font-size: 24px;
  color: #e0e0e0;
}

.App h1 {
  color: #ffcc00;
  text-transform: uppercase;
  font-family: "Titan One", Courier;
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 72px;
  text-shadow: black 4px -4px;
}  



