
.App {
  width: 100%;
  height: 100%;
  background-color: #444444;
  background-image: url('/hideout_logo.png');
  background-position: 90% 90%;
  background-repeat: no-repeat;
  padding: 20px;

  min-height: 500px;
  font-size: 24px;
  color: #e0e0e0;
}

.btn-round {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  padding: 0;
}