$one-fifth: calc(100% / 5);
$two-fifth: calc(100% / 5 * 2);
$three-fifth: calc(100% / 5 * 3);
$four-fifth: calc(100% / 5 * 4);
$five-fifth: calc(100%);

$one-point: calc(100% / 25);


@mixin flooble {
  $stripes: ();
  $color: Red;
  @for $i from 1 through 5 {
    @if $i == 5 {
      $color: #ffcc00;
    } @else {
      $color: #cccccc;
    }
    $test3: calc(#{$i} * (100% / 25) - 2px);
    $test4: calc(#{$i} * (100% / 25));
  
    $stripes: append($stripes, transparent, comma);
    $stripes: append($stripes, transparent $test3, comma);
    $stripes: append($stripes, $color  $test4, comma);
    $stripes: append($stripes, transparent $test4, comma);
  }
  background-image:
    repeating-linear-gradient(90deg, $stripes),
}

.player-track {
  height: 50px;
  padding-left: 200px;
  padding-right: 0;
}

.board-bg {
  width: 100%;
  height: 50px;
  @include flooble;
  
}

.score-input {
  width: 50px;
}