.player-card {
  background-image: linear-gradient(#ffffff,#e0e0e0);
  min-height: 48px;
  height: 48px;
  width: 198px;
  max-width: 200px;

  color: #333333;
  line-height: 48px;
  margin-left: -200px;
  border: 1px solid #666666;
  border-radius: 4px;
  display: flex;
  overflow:hidden;
  position: relative;
}

.eliminated {
  opacity: .25;
}

.player-number {
  font-family: 'Titan One', Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 50px;
  width: 2em;
  text-align: right;
  margin: 0 10px 0 0;
  display: flexbox;
  cursor: pointer;
}

.player-name {
  display: inline-block;
  height: 50px;
  margin: auto 0;
}

.player-score {
  margin-left: 20px;
  color: #e0e0e0;
}

.selected {
  border: 2px solid Red;
  padding: -2px;
}

input.player-name-field {
  padding: 0;
  border: none;
  height: 48px;
  width: 100%;
  background: transparent;
}

.player-checkmark {
  color: #28a745;
  position: absolute;
  display: none;
}

.player-card.selected .player-checkmark {
  display: block;
}